name: Publish to npm

on:
  push:
    branches:
      - main
    tags:
      - "v*.*.*"

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24
          registry-url: "https://registry.npmjs.org/"

      - name: Install dependencies
        run: npm install

      - name: Build workspace
        run: npm run build --workspace src

      - name: Publish to npm
        run: npm publish --workspace src
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
